body {
  background-color: #222222;
}

.square {
  width: 200px;
  height: 200px;
  background-color: purple;
  transition: transform 2s 0.2s ease-in-out, background-color 2s 0.2s ease-in-out;
  /* transition-property: transform;
  transition-duration: 2s;
  transition-delay: 0.2s;
  transition-timing-function: ease-in-out; */
}

.square:hover {
  transform: rotate(45deg);
  background-color: skyblue;
}